body{
    height: 110vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.One{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: azure;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 275px;
    margin-bottom: 100px;
}

.header .logo{
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.container{
    display: flex;
    padding: 0px 275px;
    justify-content: space-between;
    padding-bottom: 55px;
}

.intro .text{
    font-size: 48px;
    font-weight: bolder;
}

.intro{
    max-width: 420px;
}

.One button{
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #3882F6;
    font-weight: bold;
    border-radius: 8px;
    font-size: 17px;
    padding: 8px 25px;
}

.image{
    background-color: #7c7b7b;
    width: 600px;
    margin-left: 100px;
}

.Two{
    padding-top: 50px;
}

.Two .title{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
}

.info{
    text-align: center;
    max-width: 150px;
    color: #474747;
}

.info .img{
    border: solid 4px #3882F6;
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
    border-radius: 20px;
}

.Three{
    background-color: #E5E7EB;
    padding: 150px;
    margin-top: 100px;

}

.quote{
    font-size: 36px;
    font-style: oblique;
    font-weight: lighter;
    color: #1F2937;
    padding: 0px 150px;
}

#author{
    color: #1F2937;
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    padding-right: 185px;
    padding-top: 25px;
}

.Four{
    display: flex;
    justify-content: center;
    padding: 150px;
}

.Four .box{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 9px;
    padding: 40px 150px;
    width: 1000px;
}

.Four .box .text{
    color: #E5E7EB;
    font-size: 25px;
    font-weight: bold;
}

.Four .box p{
    color: #E5E7EB;
    margin: 0;

}

.Four .box button{
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 14px;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 50px;
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 35px;
}